.header{
    width: 751px;
    height: 236px;
    background-color:rgb(41, 119, 80);
}
.div_circle{
    width: 142px;
    height: 142px;
    background-color: white;
    border-radius: 80px;
    margin: 50px;
}
.paragraph{
    width:134px ;
    height: 131px;
    color: white;
}